// Colors
$red-ribbon: #d83454;
$light-gray: #F1F2F2;
$dark-gray: #414042;


// Font Family
$museo-sans-300: 'Museo Sans 300', 'sans-serif';
$museo-sans-500: 'Museo Sans 500', 'sans-serif';
$museo-sans-700: 'Museo Sans 700', 'sans-serif';